@mixin center {
        text-align: center;
        margin: 0 auto;
}
@mixin floatType {
    float: left;
    display: block;
}
@mixin backgroundType($img, $repeat:no-repeat, $size:50%) {
	background-image: url($img);
	background-repeat: $repeat;
	background-size: $size;	 
}
@mixin paddingTop($top, $bottom) {
    padding-top: $top;
    padding-bottom: $bottom;
}
@mixin paddingLeft($left, $right) {
    padding-left: $left;
    padding-right: $right;
}
@mixin marginTop($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}